version: "3.8"

services:
  backend:
    build: .
    image: my_backend
    container_name: backend
    
    ports:
      - "8000:8000"
    volumes:
      - .:/backend 
    environment:
      - DATABASE_URL=postgresql://myuser:mypass@database:5432/mydb  
    depends_on:
      - database

  database:
    image: postgres:15
    container_name: database
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
